<launch>
	<arg name="pkg_name" value="scratch_control"/>
	<arg name="node_name" default="scratch_connecter_node2"/>

	<arg name="veh" doc="Name of vehicle. ex: megaman"/>
    <arg name="scratch_IP" default="dalek669528.local" doc="IP address of computer which scratch is running."/>
	<arg name="local" default="false" doc="true for running on laptop. false for running on vehicle."/>
	<arg name="config" default="baseline" doc="Specify a config."/>
	<arg name="param_file_name" default="default" doc="Specify a param file. ex:megaman"/>

	<!-- Run on local (laptop) -->
	<node if="$(arg local)" ns="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" clear_params="true" required="true">
	</node>

	<!-- Run on remote (vehicle) -->
	<include unless="$(arg local)" file="$(find duckietown)/machines"/>
	<rosparam param="scratch_IP" subst_value="True">$(arg scratch_IP)</rosparam>
	<node unless="$(arg local)" ns="$(arg veh)" machine="$(arg veh)" pkg="$(arg pkg_name)" type="$(arg node_name).py" name="$(arg node_name)" output="screen" clear_params="true" required="true">
	</node>	

	<!-- Subscribe Topics -->
	<!-- "scratch": sensor_msgs/Joy. The command read from joystick -->
	<!-- Publish Topics -->
	<!-- "~wheels_cmd": duckietown_msgs/WheelsCmd. Wheels command for duckiebot -->
</launch>
